NEXT_PUBLIC_CONVEX_SITE_URL=
SITE_URL=http://localhost:3001

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=

NEXT_PUBLIC_CONVEX_URL=

NGROK_WEBHOOK_URL=
INTERNAL_EMAIL_PROXY_SECRET=
RESEND_API_KEY=
RESEND_FROM=